<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Player Information</title>
	</head>
	<body>
	    <form class="pure-form" action="" method="POST">
        <legend>Please enter your name below!</legend> <input name="Name" type="text" value=""/>
        <br/>
        <legend>Please enter your age below.</legend> <input name="Age" type="text" value=""/>
        <br/>
        <legend>Please select your gender below:</legend>
        	<select name="gender">

        		<option>Male</option>
        		<option>Female</option>
        		<option>Prefer Not To Answer</option>
        	</select>
	<br/>
    <br/>
        <input class="pure-button pure-button primary" type="submit" name="submit"></input>
      </form>
	</body>
<td>First cell</td>
</html>