<html>
  <head>
    <!
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" 				 			  	   integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" 			       	   crossorigin="anonymous">
    <title>Rock, Paper, Scissors!</title>
  </head>
  <body background="../static/bg.jpg">
    <div class="pure-g">
      <div class="pure-u-1-6"><p></p></div>
      <div class='pure-u-1-2'>
    <h1>Rock, Paper, Scissors</h1>
    <div>
      <h2>First, enter your info <a href="http://localhost:5000/playerinfo">here</a></h2>
      <form class="pure-form" action="" method="POST">
        <legend>Enter Rock, Paper, or Scissors below!</legend> <input name="choice" type="text" value=""/>
        <br/>
        <legend>Enter a weighting style; defaults to choosing equally</legend> <input name="weight" type="text" value=""/>
        <br/>
	<br/>
        <small>Options: Rock Focused, Paper Focused, Scissors Focused, Realistic</small>
	<br/>
	<br/>
	<br/>
        <input class="pure-button pure-button primary" type="submit" name="submit"></input>
      </form>
    </div>
    <div>
      {{name}} chose: {{choice}}
      <br/>
      The computer chose: {{cchoice}}
      <br/>
      {{winner}} won!
      <br/>
      <br/>
      <br/>
    </div>
    <h2>Stats</h2>
      <legend>{{name}} | Age: {{age}} | Gender: {{gender}}</legend>
      <hr align="left">
      Wins: {{pwcount}}
      <br/>
      Rocks Thrown: {{prcount}}
      <br/>
      Papers Thrown: {{ppcount}}
      <br/>
      Scissors Thrown: {{pscount}}
      <br/>
      <br/>
      <legend>Computer</legend>
      <hr align="left">
      Wins: {{cwcount}}
      <br/>
      Rocks Thrown: {{crcount}}
      <br/>
      Papers Thrown: {{cpcount}}
      <br/>
      Scissors Thrown: {{cscount}}
      <br/>
      <br/>
      Ties: {{tcount}}
  </body>
<br/>
<br/>
<br/>
</html>
